NEXT_PUBLIC_APP_NAME=House of Rhody
NEXT_PUBLIC_PAYSTACK_PUBLIC_KEY=
PAYSTACK_SECRET_KEY=
NEXT_PUBLIC_STRIPE_PUBLIC_KEY=
STRIPE_SECRET_KEY=
NEXT_PUBLIC_FLUTTERWAVE_PUBLIC_KEY=
FLUTTERWAVE_SECRET_KEY=
NEXTAUTH_SECRET=replace_with_secure_secret
DATABASE_URL=postgresql://username:password@localhost:5432/house_of_rhody
